body {
  background-image: url("./image/planet.jpg");
  background-repeat: no-repeat;
  /* background-position: 50%; */
  background-size: cover;
}

a {
  cursor: pointer;
}

.active {
  background-color: darkblue;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
